.cart-dropdown {
    position: absolute;
    right: 14rem;
    top: 6.5rem;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.none-cart {
    align-items: center;
    width: 100%;
}

.none-cart h3 {
    font-size: 1.2rem;
    border-bottom: 1px solid #eee;
    padding: 1rem 1.5rem 2rem 1.5rem;
}
  
.none-cart .cart-content-empty {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: gray;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
}

.none-cart.active {
    display: block;
}

.cart-item {
    align-items: center;
    width: 100%;
}

.cart-item h3 {
    font-size: 1.2rem;
    border-bottom: 1px solid #eee;
    padding: 1rem 1.5rem 2rem 1.5rem;
}

.cart-item .item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1.5rem 2rem 1.5rem;
}
  
.cart-item .cart-thumb {
    flex: 8;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}
  
.cart-item .item-info {
    flex: 44;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem; 
}

.cart-item .item-info p {
    margin: 0;
}
  
.cart-item .item-info .product-name {
    font-size: 1.2rem;
    color: #333;
}
  
.cart-item .item-info .price {
    font-size: 1rem;
    color: gray;
}
  
.cart-item .total-price {
    font-weight: bold;
    color: black;
    margin-left: 0.5rem;
}
  
.cart-item .delete-icon {
    flex: 1;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
  
.cart-item .checkout-btn {
    width: 90%;
    padding: 1rem;
    margin: 0 1.5rem 2rem 1.5rem;
    background: #ff7d1b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
}